.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('C:\Users\a\OneDrive\Desktop\portal\railway-complaint-management\src\assests\bgtrain.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5); /* Black with 50% transparency */
  padding-left: 50px; /* Move to the left */
}

.login-content {
  background-color: rgba(255, 255, 255, 0.25); /* 75% transparent */
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.login-content h2 {
  margin-bottom: 20px;
  color: #003366;
}

.login-form .form-group {
  margin-bottom: 15px;
  text-align: left;
}

.login-form .form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-form .form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #002244;
}
